

.wrapper{
    padding: 0 3%;
    margin-top: 80px;
}
.itemDistanceEvenly{
    display: flex;
    justify-content: space-between;
}
.showMobile{
    display: none;
}
.showPc{
    display: none;
}

/* Vuecarouserデフォルトのcss */
.VueCarousel-pagination[data-v-438fd353] {
    display: none;
}
.VueCarousel-wrapper{
    padding-bottom: 30px;
    border-bottom: 1px solid;
}

/* bottn */
.button{
    font-size: 80%;
    background-color: #535252;
    color: #fff;
    border-radius: 15px;
    width: 7rem;
    height: 2rem;
    display:inline-block;
    border: none;
}
